<div class="col-md-12">

    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-body">

                <div class="form-group">
                    <label for="user_email">Title</label>
                    <div class="form-label-group">

                        <div class="card-header border border-dark">{{qboard.title}}</div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="example-date-input">Post</label>
                    <div class="form-label-group">
                        <div class="jumbotron border border-dark">
                            {{qboard.post}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <a class="btn btn-primary btn-md" href="/qboard">이전으로</a>

                </div>


            </div>


        </div>

    </div>


    {{#each comments}}
    <div class="container">
        <div class="card card-register mx-auto mt-5">

            <div class="card-body">


                <div class="form-group">
                    <label for="user_email">Title</label>
                    <div class="form-label-group">

                        <div class="card-header border border-dark">Re : {{this.nick}}</div>

                    </div>
                </div>

                <div class="form-group">

                    <label for="example-date-input">Post</label>
                    <div class="form-label-group">
                        <div class="jumbotron border border-dark">
                            {{this.comment}}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {{/each}}

    <div class="container">
        <div class="card card-register mx-auto mt-5">

            <div class="card-body">
                <form method="post" action="/qccreate">

                    <input type="hidden" class="form-control" id="comment_nick" name="comment_nick" value="{{nick.nick}}">
                    <input type="hidden" class="form-control" id="comment_post" name="comment_post" value="{{qboard._id}}">

                    <div class="form-group">
                        <label for="example-date-input">Post</label>
                        <div class="form-label-group">
                            <textarea class="form-control" rows="8" id="comment_comment" required="required" type="comment" autofocus="autofocus" placeholder="comment" name="comment_comment"></textarea>
                        </div>
                    </div>


                    <div class="form-group">

                        <button type="submit" id="btn-market-search" class="btn btn-block">작성</button>

                    </div>


                </form>


            </div>
        </div>




    </div>


</div>
