<div class="row">
    <div class="col-sm-12">
        <h4 class="mt-4 mb-4">>{{Search}} 검색 결과입니다. </h4>
        <table class="table table-bordered table-responsible table-sm">
            <thead>
                <tr>
                    <th>품목명</th>
                    <th>업체명</th>
                    <th>원료 성분</th>
                    <th>저장방법</th>
                    <th>유효기간</th>
                    <th>포장단위</th>
                </tr>
            </thead>

            <tbody>
                {{#each Durresult.items}}
                <tr>

                    <td>{{this.ITEM_NAME}}</td>
                    <td>{{this.ENTP_NAME}}</td>
                    <td>{{this.MATERIAL_NAME}}</td>
                    <td>{{this.STORAGE_METHOD}}</td>
                    <td>{{this.VALID_TERM}}</td>
                    <td>{{this.PACK_UNIT}}</td>

                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h4 class="mt-4 mb-4">> 외형 </h4>
        <table class="table table-bordered  table-responsible table-sm">
            <thead>
                <tr>
                    <th>품목명</th>
                    <th>일련번호</th>
                    <th>모양</th>
                    <th>성상</th>
                    <th>제형코드 이름</th>
                    <th>분류명</th>
                </tr>
            </thead>

            <tbody>
                {{#each PDurresult.items}}
                <tr>

                    <td>{{this.ITEM_NAME}}</td>
                    <td>{{this.ITEM_SEQ}}</td>
                    <td>{{this.DRUG_SHAPE}}</td>
                    <td>{{this.CHART}}</td>
                    <td>{{this.FORM_CODE_NAME}}</td>
                    <td>{{this.CLASS_NAME}}</td>

                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</div>




<a href="/" class="btn btn-primary btn-lg btn-block">다른이름 검색하기</a>
